@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 30px;
}

header h1{
    font-family: var(--fonte2);
    color: white;
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 10px;
}

header p{
    font-family: var(--fonte1);
    color: white;
}

header a{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

.imagem{
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);    ;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.imagem p{
    background-color: rgba(27, 20, 20, 0.459);
}

section p{
    font-family: var(--fonte3);
    font-size: 2em;
}

section.normal{
    padding-left: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
}

section#img1{
    background-image: url('imagens/background001.jpg');
}

section#img2{
    background-image: url('imagens/background002.jpg');
    
}

