@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 30px;
}

header h1{
    font-family: var(--fonte2);
    color: white;
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 10px;
}

header p{
    font-family: var(--fonte1);
    color: white;
}

header a{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

section.normal{
    font-family: var(--fonte3);
    font-size: 2em;
    padding-left: 20px;
    margin-bottom: 120px;
}

section#img1{
    background-color: rgba(0, 0, 0, 0.057);
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-size: 100%;
    font-family: var(--fonte3);
    font-size: 2em;
    padding-left: 20px;
}